
  <h2 class="mt-6">¿Como cobro mi indemnización?</h2>
  
  <p>
    Frente a estos abusos constantes, nuestro Estudio integrado por <span class="green">
      abogados
      especializados y profesionales médicos de excelencia
    </span> le brindan la asistencia
    legal y médica necesaria para que <span class="green">conozca a fondo sus derechos</span> y los haga
    valer. Nuestro respaldo y asesoramiento personalizado durante todo el trámite
    de reclamo ante la SRT le darán <span class="green">
      acceso a la máxima indemnización y a la mejor
      atención médica.
    </span> Consultenos sin compromiso <a href="@Url.Action("index", "Contacto")">AQUÍ.</a>
  </p>
  <p>
    Respecto de la <span class="green">indemnización</span> que le corresponde en caso de accidente la misma
    puede calcularla <a href="@Url.Action("accidentes-laborales", "Calculators")">AQUÍ.</a> Le recordamos que este cálculo es orientativo y que
    estamos a disposición para cualquier consulta.
  </p>
