
  <h2 class="mt-6">¿Como cobro mi indemnización?</h2>
  
  <p>
    Respecto de la <span class="green">indemnización que le corresponde</span> en
    caso de accidente la misma puede calcularla <a href="@Url.Action("accidentes-de-transito", "Calculators")">AQUÍ.</a> Tenga presente que este
    cálculo es orientativo y que estamos a disposición para cualquier consulta.
  </p>
  
  <p>
    Es habitual que la
    <span class="green">aseguradora del tercero se ponga en contacto</span> a
    través de algún empleado o liquidador para hacerle preguntas o pedirle
    documentación. La función de estas personas es pagarle a usted lo menos
    posible bajo la apariencia de querer ayudarlo. Es por ello que usted
    <span class="green">
      nunca debe responder las consultas que le realicen ni enviar documentación </span
    >. La información que usted brinde podría ser utilizada en su contra para
    rechazar el siniestro o reducir sensiblemente la indemnización.
  </p>
  
  <p>
    Por esa razón es de vital importancia que usted se asesore con
    <span class="green">
      profesionales que le brinden la asistencia legal y médica necesaria
    </span>
    para que conozca a fondo sus derechos
 y los haga valer. Nuestro equipo de
  abogados especializados y profesionales médicos le brindarán respaldo y
  asesoramiento personalizado durante todo el reclamo obteniendo la máxima
  indemnización posible. Consultenos sin compromiso <a href="@Url.Action("index", "Contacto")">AQUÍ</a>
</p>
