<footer id="footer" class="dark">
  <div class="container">
    <!-- Footer Widgets -->
    <div class="footer-widgets-wrap">
      <div class="row col-mb-50">
        <div class="col-12">
          <div class="widget clearfix">
 
            <div class="py-2">
              <div class="row col-mb-30">
                <div class="col-md-6">
                  <img class="footer-logo"
                       src="/images/logo.ico"
                       alt="Estudio Lopez Giacomelli"
                       width="95"
                       height="80">
                  <span class="text-uppercase footerLogo d-block mb-3">Estudio Lopez Giacomelli & asoc.</span>
                  
                  <div class="contact-info">
                    <span title="Tel"><strong>Tel: </strong></span>
                    <a href="https://api.whatsapp.com/send?phone=541161980179" 
                       class="visible-xs"
                       target="_blank"
                       rel="noopener">
                      +54-1161980179
                    </a>
                    <br />
                    <span title="Email"><strong>Email: </strong></span>
                    <a href="mailto:estudiolopezgiacomelli@gmail.com">
                      estudiolopezgiacomelli@gmail.com
                    </a>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="embed-responsive embed-responsive-16by9">
                    <a href="https://www.google.com/maps/search/?api=1&query=Estudio+Lopez+Giacomelli,+Ciudad+de+Buenos+Aires" 
                       target="_blank"
                       rel="noopener">
                      <picture>
                        <source srcset="/images/staticmap.webp" type="image/webp">
                        <img class="embed-responsive-item"
                             src="/images/staticmap.jpg"
                             alt="Ubicación de Estudio Lopez Giacomelli"
                             >
                      </picture>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .footer-widgets-wrap end -->
  </div>

  <!-- Copyrights -->
  <div id="copyrights">
    <div class="container">
      <div class="w-100 text-center">
        Copyrights &copy; @DateTime.Now.Year Todos los derechos reservados a Estudio Lopez Giacomelli.
      </div>
    </div>
  </div>
  <!-- #copyrights end -->
</footer>

