<footer id="footer" class="dark">
  <div class="container">
    <!-- Footer Widgets -->
    <div class="footer-widgets-wrap">
      <div class="row col-mb-50">
        <div class="col-12">
          <div class="widget clearfix">
            <img
              src="~/images/logo.ico"
              alt="Estudio Lopez Giacomelli"
              class="footer-logo"
              loading="lazy" 
            />
            <span class="text-uppercase footerLogo"
              >Estudio Lopez Giacomelli & asoc.</span
            >

            <div class="py-2">
              <div class="row col-mb-30">
                <div class="col-md-3">
                  <span title="Tel"><strong>Tel: </strong></span>
                  <a
                    href="https://api.whatsapp.com/send?phone=541161980179"
                    class="visible-xs"
                  >
                    +54-1161980179</a
                  >
                  <br />
                  <span title="Email"><strong>Email:</strong></span>
                  estudiolopezgiacomelli@gmail.com
                </div>

                <div class="col-md-6">
                  <iframe 
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCBnbJSzvWXNxYB6hL9shNllVt5qMP-3ZU&q=Estudio+Lopez+Giacomelli,+Ciudad+de+Buenos+Aires&language=es" 
                  width="600" 
                  height="450" 
                  style="border:0;" 
                  allowfullscreen="" 
                  loading="lazy" 
                  referrerpolicy="no-referrer-when-downgrade">
              </iframe>
              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .footer-widgets-wrap end -->
  </div>

  <!-- Copyrights -->
  <div id="copyrights">
    <div class="container">
      <div class="w-100 text-center">
        Copyrights © 2020 Todos los derechos reservados a Estudio Lopez
        Giacomelli.
      </div>
    </div>
  </div>
  <!-- #copyrights end -->
</footer>
