<footer id="footer" class="dark">
  <div class="container">
    <!-- Footer Widgets -->
    <div class="footer-widgets-wrap">
      <div class="row col-mb-50">
        <div class="col-12">
          <div class="widget clearfix">
            <img
              src="~/images/logo.ico"
              alt="Estudio Lopez Giacomelli"
              class="footer-logo"
              loading="lazy" 
            />
            <span class="text-uppercase footerLogo"
              >Estudio Lopez Giacomelli & asoc.</span
            >

            <div class="py-2">
              <div class="row col-mb-30">
                <div class="col-md-3 col-sm-12">
                  <address class="mb-0">
                    <span
                      title="Oficina"
                      style="display: inline-block; margin-bottom: 7px"
                      ><strong>Oficina:</strong></span
                    ><br />
                    <address class="address-box">
                      Juana Manso 1113, 7mo piso, Capital Federal, Argentina
                    </address>
                  </address>
                </div>
                <div class="col-md-3">
                  <span title="Tel"><strong>Tel: </strong></span>
                  <a
                    href="https://api.whatsapp.com/send?phone=541161980179"
                    class="visible-xs"
                  >
                    +54-1161980179</a
                  >
                  <br />
                  <span title="Email"><strong>Email:</strong></span>
                  estudiolopezgiacomelli@gmail.com
                </div>

                <div class="col-md-6">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.7856580492667!2d-58.36559642326849!3d-34.60958117295229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a33528556c3b6d%3A0x91709bfa78b7704e!2sEstudio%20Lopez%20Giacomelli!5e0!3m2!1ses-419!2sar!4v1731075282647!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .footer-widgets-wrap end -->
  </div>

  <!-- Copyrights -->
  <div id="copyrights">
    <div class="container">
      <div class="w-100 text-center">
        Copyrights © 2020 Todos los derechos reservados a Estudio Lopez
        Giacomelli.
      </div>
    </div>
  </div>
  <!-- #copyrights end -->
</footer>
