<footer id="footer" class="dark">
  <div class="container">
    <!-- Footer Widgets
        ============================================= -->
    <div class="footer-widgets-wrap">
      <div class="row col-mb-50">
        <div class="col-12">
          <div class="widget clearfix">
            <img
              src="~/images/logo.ico"
              alt="Estudio Lopez Giacomelli"
              class="footer-logo"
            />
            <span class="text-uppercase footerLogo"
              >Estudio Lopez Giacomelli & asoc.</span
            >

            <div class="py-2">
              <div class="row col-mb-30">
                <div class="col-md-3 col-sm-12">
                  <address class="mb-0">
                    <span
                      title="Oficina"
                      style="display: inline-block; margin-bottom: 7px"
                      ><strong>Oficina:</strong></span
                    ><br />
                    <address class="address-box">
                      Juana Manso 1113, 7mo piso, Capital Federal, Argentina
                    </address>
                  </address>
                </div>
                <div class="col-md-3">
                  <span title="Tel"><strong>Tel: </strong></span>
                  <a
                    href="https://api.whatsapp.com/send?phone=+54116198-0179"
                    class="visible-xs"
                  >
                    +54-1161980179</a
                  >
                  <br />
                  <span title="Email"><strong>Email:</strong></span>
                  estudiolopezgiacomelli@gmail.com
                </div>

                <div class="col-md-6">
                  <img
                    width="1300"
                    src="https://maps.googleapis.com/maps/api/staticmap?center=-34.6096534%2c%20-58.363075&zoom=15&size=1300x400&key=AIzaSyCpfMZORaCJGTV1wALuw3PH3FjxyTftG7o"
                    alt="Google Map of Albany, NY"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .footer-widgets-wrap end -->
  </div>

  <!-- Copyrights
    ============================================= -->
  <div id="copyrights">
    <div class="container">
      <div class="w-100 text-center">
        <!-- <div class="copyrights-menu copyright-links clearfix">
            <a  href="@Url.Action("Index", "Home")">Inicio</a>
            <a  href="@Url.Action("WorkAccidentFaq", "FAQ")">Preguntas Frecuentes</a>
            <a  href="@Url.Action("Index", "Contacto")">Contáctenos</a>

        </div> -->
        Copyrights © 2020 Todos los derechos reservados a Estudio Lopez
        Giacomelli.
      </div>
    </div>
  </div>
  <!-- #copyrights end -->
</footer>
