<h2 class="mt-6">Recuerde siempre</h2>

<div
  class="trafficAccidentSteps"
  class="row align-items-center gutter-50 col-mb-80 mt-5"
>
  <div class="col-xl-9 col-lg-11">
    <div class="row feature-box-border col-mb-30 align-items-center">
      <div class="col-md-8 feature-box fbox-color">
        <div class="fbox-icon">
          <a><i class="bi-pencil-square"></i></a>
        </div>
        <div class="fbox-content">
          <p class="nott text-larger font-weight-normal mb-2 mt-3">
            <span class="green">Anotar los datos del vehículo </span> que causó
            el accidente(patente y seguro).
          </p>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col-md-8 feature-box fbox-color">
        <div class="fbox-icon">
          <a><i class="fa-solid fa-car-crash"></i></a>
        </div>
        <div class="fbox-content">
          <p class="nott text-larger font-weight-normal mb-2 mt-3">
            <span class="green">Tomar fotos</span> del vehículo que produjo el
            accidente y del lugar del hecho.
          </p>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col-md-8 feature-box fbox-color noborder">
        <div class="fbox-icon">
          <a><i class="fa-solid fa-ambulance"></i></a>
        </div>
        <div class="fbox-content">
          <p class="nott text-larger font-weight-normal mb-2 mt-3">
            <span class="green">Solicitar asistencia médica</span> inmediata en
            su prepaga u obra social.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
