<h4 class="mt-6">ATENCIÓN MÉDICA</h4>
<p>
  Por obligación legal la ART debe brindarle la atención médica adecuada. Dicha
  cobertura incluye
  <span class="green"
    >gastos de farmacia, prótesis y ortopedia, rehabilitación,</span
  >
  recalificación profesional y servicio funerario. Asimismo deberá cubrir los
  traslados necesarios para su rehabilitación.
</p>

<h4>PAGO DE SALARIO</h4>
<p>
  Como compensación por su imposibilidad de trabajar la ART debe
  <span class="green">cubrir la suma correspondiente a su salario.</span> Si su
  salario estuviera integrado por conceptos variables, le corresponderá el cobro
  de un promedio de dicho conceptos tomando como referencia los últimos 6 meses.
</p>

<h4>INDEMNIZACIÓN POR INCAPACIDAD</h4>
<p>
  Usted tiene derecho a <span class="green">cobrar una indemnización</span> la
  cual se determina de acuerdo a su edad, salario y grado de incapacidad. Tenga
  presente que el
  <span class="green"
    >procedimiento en la Superintendencia se financia con fondos aportados por
    las propias ART. Esto afecta severamente la objetividad de los funcionarios
    de la SRT</span
  >
  quienes se encargan de definir la gravedad de su lesión. De esta manera se
  busca reducir las indemnizaciónes a su mínima expresión. Por esa razón es
  <span class="green">fundamental contar con la asistencia legal y médica</span>
  que brinda nuestro Estudio garantizándole a usted la mejor indemnización.
</p>
<h4>INDEMNIZACIÓN A DERECHOHABIENTES DE TRABAJADOR FALLECIDO</h4>
<p>
  Es posible que el accidente padecido cause el fallecimiento del trabajador. En
  esos casos nuestra legislación prevé que su
  <span class="green">cónyuge, hijos y demás herederos</span> que correspondan
  por ley perciban un importante
  <span class="green">resarcimiento económico</span> ante tan grave pérdida.
</p>
