<div class="row align-items-center gutter-50 col-mb-80 mt-5">
  <div class="col-xl-9 col-lg-11">
    <div class="row feature-box-border col-mb-30 align-items-center">
      <div class="col-md-8 feature-box fbox-color">
        <div class="fbox-icon">
          <a><i class="bi-laptop"></i></a>
        </div>
        <div class="fbox-content">
          <h3 class="nott text-larger font-weight-normal mb-2 mt-3">
            ATENDEMOS SU RECLAMO SIN GASTOS NI ADELANTOS.
          </h3>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col-md-8 feature-box fbox-color">
        <div class="fbox-icon">
          <a><i class="uil-notes"></i></a>
        </div>
        <div class="fbox-content">
          <h3 class="nott text-larger font-weight-normal mb-2 mt-3">
            BRINDAMOS ATENCIÓN PERSONALIZADA.
          </h3>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col-md-8 feature-box fbox-color noborder">
        <div class="fbox-icon">
          <a><i class="bi-watch"></i></a>
        </div>
        <div class="fbox-content">
          <h3 class="nott text-larger font-weight-normal mb-2 mt-3">
            PLAZO DE RECLAMO ES DE 2 AÑOS. NO PIERDA SU TIEMPO.
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
