@import "../style";
@import "@css/font-icons.css";
@import "../common/layout";
@import "../common/hero";
@import "../common/calculatorLinks";
@import "../common/faqs";

/* trafficAccidentFaq */
.trafficAccidentFaqHeader {
  padding: 250px !important;

  @media (max-width: 991.98px) {
    padding: 0px !important;
    background-position: -385px 0px !important;
  }
}
/* end trafficAccidentFaq */
