<section
  id="page-title"
  class="@Model.Article page-title-parallax page-title-dark include-header skrollable skrollable-between"
  data-bottom-top="background-position:0px 400px;"
  data-top-bottom="background-position:0px -500px;"
>
  @Html.Partial("HeaderText")
</section>
