<!-- test -->
@model ArticleModel
<!-- test -->
@Html.Partial("ArticlesHeader")

<section id="content">
  <div class="pt-0">
    <div id="articleSection" class="section mt-0">
      <div class="container mt-5">
        <!-- <h1>@Html.Raw(Model.ArticleName)</h1> -->
        @Html.Partial(Model.Article)
      </div>
    </div>
  </div>
</section>

<div class="container promo promo-border p-4 p-md-5 mb-5 mt-md-5">
  <div class="row align-items-center">
    <div class="col-12 col-lg">
      <h3 style="font-weight: 600">
        <ul class="iconlist iconlist-color mb-0">
          <li>
            <i class="icon-check-circle1 mr-3"></i>
            <span>NO COBRAMOS GASTOS</span
            ><span class="destacado"> NI ADELANTOS.</span>
          </li>
          <li>
            <i class="icon-check-circle1 mr-3"></i><span> ACUERDOS EXPRESS</span
            ><span class="destacado"> CON ASEGURADORAS. </span>
          </li>

          <li>
            <i class="icon-check-circle1 mr-3"></i>
            <span>RECLAMO EN</span>
            <span class="destacado">
              FORMA <span class="promoInmediata">INMEDIATA.</span></span
            >
          </li>
        </ul>
      </h3>
    </div>
  </div>
</div>

<div class="container clearfix mb-5">@Html.Partial("CalculatorsLinks")</div>

@section styles{
<style>
  .destacado {
    color: #fc5f07;
    font-weight: 700;
  }
</style>

}

