<section
  id="slider"
  class="slider-element slider-parallax swiper_wrapper min-vh-75 min-vh-md-80"
  data-loop="false"
  data-autoplay="5000"
  data-speed="650"
>
  <div class="slider-inner">
    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
        <!-- Slide 1 -->
        <div class="swiper-slide dark">
          <div class="container">
            <div class="slider-caption">
              <h2 data-animate="fadeInUp" data-delay="100" class="galleryTitle">
                ESPECIALISTAS EN ACCIDENTES DE TRÁNSITO, MOTOS Y LESIONES
              </h2>
              <p data-animate="fadeInDown" data-delay="100">
                <a
                  href='@Url.Action("accidentes-de-transito", "Faq")'
                  class="button"
                >
                  Más info</a
                >
              </p>
            </div>
          </div>
          <div
            class="swiper-slide-bg galleryImg1"
            style="background-image: url('/images/home/gallery/1.avif'); background-size: cover; background-position: center;"
          ></div>
        </div>

        <!-- Slide 2 -->
        <div class="swiper-slide dark">
          <div class="container">
            <div class="slider-caption">
              <h2 data-animate="fadeInUp" data-delay="100" class="galleryTitle">
                Accidentes laborales, reclamos <br />
                ante la SRT
              </h2>
              <p data-animate="fadeInDown" data-delay="100">
                <a
                  href='@Url.Action("accidentes-laborales", "Faq")'
                  class="button"
                >
                  Más info</a
                >
              </p>
            </div>
          </div>
          <div
            class="swiper-slide-bg galleryImg2"
            style="background-image: url('/images/home/gallery/2.avif'); background-size: cover; background-position: center;"
          ></div>
        </div>

        <!-- Slide 3 -->
        <div class="swiper-slide dark">
          <div class="container">
            <div class="slider-caption slider-caption-left">
              <h2 data-animate="fadeInUp" data-delay="100" class="galleryTitle">
                Derecho laboral <br />
                y despidos
              </h2>
              <p data-animate="fadeInDown" data-delay="100">
                <a
                  href='@Url.Action("derechos-del-trabajador", "Dismissals")'
                  class="button"
                  >Más info</a
                >
              </p>
            </div>
          </div>
          <div
            class="swiper-slide-bg galleryImg3"
            style="background-image: url('/images/home/gallery/3.avif'); background-size: cover; background-position: center;"
          ></div>
        </div>
      </div>

      <!-- Navigation -->
      <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
      <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
      <div class="swiper-pagination swiper-pagination-bullets"></div>
    </div>
  </div>
</section>
