<?xml version="1.0" encoding="utf-8"?>
<config>
  <commands>
    <!-- Font selection commands -->
    <command>
      <umbracoAlias>fontselect</umbracoAlias>
      <icon>icon-font</icon>
      <tinyMceCommand value="" userInterface="False" frontendCommand="FontName">
        <parameters>
          <parameter key="title">Font Family</parameter>
          <parameter key="fontNames">Arial=arial,helvetica,sans-serif;Courier New=courier new,courier,monospace;Georgia=georgia,serif;Tahoma=tahoma,arial,helvetica,sans-serif;Times New Roman=times new roman,times,serif;Verdana=verdana,geneva,sans-serif</parameter>
        </parameters>
      </tinyMceCommand>
    </command>

    <!-- Table editing commands -->
    <command>
      <umbracoAlias>tablecontrols</umbracoAlias>
      <icon>icon-table</icon>
      <tinyMceCommand value="" userInterface="False" frontendCommand="mceInsertTable">
        <parameters>
          <parameter key="title">Insert Table</parameter>
        </parameters>
      </tinyMceCommand>
    </command>
  </commands>

  <plugins>
    <plugin>advlist autolink lists link image charmap print preview anchor</plugin>
    <plugin>searchreplace visualblocks code fullscreen</plugin>
    <plugin>insertdatetime media table paste code help wordcount autoresize</plugin>
    <plugin>codesample directionality emoticons template</plugin>
    <plugin>spellchecker</plugin>
  </plugins>

  <toolbar>
    <toolbarGroup name="formatting">
      <toolbar>styleselect | fontselect | fontsizeselect</toolbar>
      <toolbar>bold italic underline strikethrough | forecolor backcolor</toolbar>
      <toolbar>alignleft aligncenter alignright alignjustify | outdent indent</toolbar>
    </toolbarGroup>
    
    <toolbarGroup name="media">
      <toolbar>insertfile image media template link anchor codesample</toolbar>
    </toolbarGroup>

    <toolbarGroup name="tables">
      <toolbar>table tabledelete | tableprops tablerowprops tablecellprops</toolbar>
      <toolbar>tableinsertrowbefore tableinsertrowafter tabledeleterow</toolbar>
      <toolbar>tableinsertcolbefore tableinsertcolafter tabledeletecol</toolbar>
    </toolbarGroup>
  </toolbar>

  <config key="baseURL">/js/components/tinymce</config>
  <config key="skin_url">/js/components/tinymce/skins/ui/oxide</config>
  <config key="content_css">/js/components/tinymce/skins/content/default/content.min.css,/css/tinymce-overrides.css</config>
  <config key="external_plugins">
    {
      "advlist": "/js/components/tinymce/plugins/advlist/plugin.min.js",
      "table": "/js/components/tinymce/plugins/table/plugin.min.js",
      "template": "/js/components/tinymce/plugins/template/plugin.min.js"
    }
  </config>
  <config key="branding">false</config>
  <config key="menubar">file edit view insert format tools table help</config>
  <config key="resize">both</config>
  <config key="autoresize_max_height">800</config>
</config>
