<title class="logo">Despidos. Preguntas frecuentes</title>
<section
  id="page-title"
  class="dismissalsFaqHeader faqHeader min-vh-60 page-title-parallax page-title-dark include-header"
>
  <div class="container clearfix">
    <div>
      <h3 class="serviceTitle">Despidos</h3>
    </div>

    <h1 class="serviceTitle">Preguntas Frecuentes</h1>
  </div>
</section>

<section id="faq" class="container container-block mt-5">
  <div class="col-xs-12">
    <div class="trust-col">
      <div
        class="panel-group shortcodes"
        id="accordion"
        role="tablist"
        aria-multiselectable="true"
      >
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
                class="collapsed"
              >
                ¿CÓMO SE CALCULA LA INDEMNIZACIÓN POR DESPIDO SIN CAUSA?
              </a>
            </h4>
          </div>
          <div
            id="collapseOne"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingOne"
            aria-expanded="false"
            style="height: 0px"
          >
            <div class="panel-body">
              <p>
                La indemnización por “despido sin causa” está directamente
                ligada a su antigüedad y tal como lo contempla el art 245 de la
                LCT es igual a UN (1) mes de sueldo por cada año de servicio o
                fracción mayor de TRES (3) meses, tomando como referencia la
                mejor remuneración mensual, normal y habitual del último año.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a
                class="collapsed"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                ¿CÓMO SE CALCULA LA MEJOR REMUNERACIÓN NORMAL Y HABITUAL?
              </a>
            </h4>
          </div>
          <div
            id="collapseTwo"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingTwo"
            aria-expanded="false"
            style="height: 0px"
          >
            <div class="panel-body">
              <p>
                Al hablar de la mejor remuneración mensual, normal y habitual
                nos referimos al salario más elevado que usted percibió durante
                el último año incluyendo horas extras, proporcional de aguinaldo
                y demás conceptos no remunerativos (bonos, propinas, comisiónes,
                viáticos etc.) en la medida en que su percepción sea normal y
                habitual.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a
                class="collapsed"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                ¿EXISTEN DIFERENCIAS ENTRE LA “LIQUIDACIÓN FINAL” Y LA
                “INDEMNIZACIÓN POR DESPIDO”?
              </a>
            </h4>
          </div>
          <div
            id="collapseThree"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingThree"
            aria-expanded="false"
            style="height: 0px"
          >
            <div class="panel-body">
              <p>
                Un error bastante habitual es confundir ambos conceptos
                considerando que definen lo mismo.
              </p>
              <p>
                Sin embargo, cuando hablamos de “liquidación final” nos
                referimos a toda suma que le corresponde al trabajador al
                producirse la desvinculación independientemente de las causas
                que la motivaron (despido con o sin causa o renuncia). Esto
                significa que al trabajador siempre le corresponderá el cobro de
                las sumas que comprenden el concepto de “liquidación final”
                (vacaciones proporcionales, SAC proporcional, etc.).
              </p>
              <p>
                Distinto es el caso de la “indemnización por despido sin causa”
                que deberá sumarse al importe de la “liquidación final” siempre
                y cuando el despido se produzca sin una causa justa. Como hemos
                visto la “indemnización por despido sin causa está vinculada en
                forma directa a la antigüedad del trabajador siendo equivalente
                a UN (1) mes de sueldo por cada año de servicio o fracción mayor
                de TRES (3) meses.
              </p>
              <p>
                Es por esa razón que resulta imprescindible consultar con
                nuestros abogados especializados en derecho del trabajo al
                momento de recibir la noticia de que hemos sido despedidos para
                conocer en profundidad los derechos que nos asisten.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingfour">
            <h4 class="panel-title">
              <a
                class="collapsed"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapsefour"
                aria-expanded="false"
                aria-controls="headingfour"
              >
                ¿QUÉ ES LA INDEMNIZACIÓN AGRAVADA Y EN QUÉ CASOS APLICA?
              </a>
            </h4>
          </div>
          <div
            id="collapsefour"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingfour"
            aria-expanded="false"
          >
            <div class="panel-body">
              <p>
                Cabe destacar que existe en determinados casos una protección
                especial para el trabajador. De producirse el despido en las
                circunstancias que analizaremos a continuación el empleador
                deberá abonar una indemnización agravada:
              </p>
              <p>
                a. Protección de la Maternidad: para gozar de dicha protección
                la trabajadora deberá en primer lugar notificar al empleador
                (mediante TCL) su situación de embarazo y la fecha presunta de
                parto. Si el despido se produce desde 7 meses y medio antes del
                parto o 7 meses y medio después, se presume que el despido se
                debe a la notificación enviada y en ese caso el empleador deberá
                abonar una multa adicional de 1 año de remuneraciones ( es decir
                13 sueldos, al incluir el SAC).
              </p>
              <p>
                b. Protección del Casamiento: también tiene el trabajador/a la
                obligación de notificar (mediante TCL) que se va a casar junto
                con la fecha de casamiento. Si el despido se produce dentro de
                los 3 meses anteriores al casamiento y 6 meses posteriores al
                mismo operará la misma presunción que en el caso de maternidad y
                el empleador deberá abonar una multa adicional de 1 año de
                remuneraciones ( es decir 13 sueldos, al incluir el SAC)
              </p>
              <p>
                c. Despido de trabajador sin registrar o “en negro” (total o
                parcialmente):
              </p>
              <p>
                En estos casos son 2 las leyes aplicables: la 24.013 y la
                25.323.
              </p>
              <p>
                Si el trabajador intima a su empleador a registrar debidamente
                la relación previo a ser despedido se aplicarán en forma
                combinada las indemnizaciónes establecidas en ambas leyes.
              </p>
              <p>
                Si la intimación se produjera luego de despedido aplicarán
                únicamente las indemnizaciónes que establece la ley 25.323.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingfive">
            <h4 class="panel-title">
              <a
                class="collapsed"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapsefive"
                aria-expanded="false"
                aria-controls="headingfive"
              >
                ¿QUÉ ES LA INDEMNIZACIÓN SUSTITUTIVA DE PREAVISO?
              </a>
            </h4>
          </div>
          <div
            id="collapsefive"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingfive"
            aria-expanded="false"
          >
            <div class="panel-body">
              <p>
                Se llama preaviso a la notificación fehaciente efectuada por
                ambas partes respecto de la decisión de concluir con la relación
                laboral que los une. El trabajador debe hacerla por TCL con una
                antelación de 15 días. El empleador debe avisar al trabajador
                por carta documento con una antelación que varía según la
                antigüedad del trabajador:
              </p>
              <p>
                a. Será de 15 días si el trabajador se encuentra en el periodo
                de prueba. En este caso la indemnización por incumplimiento será
                equivalente a 15 días de su salario. <br />

                b. Será de 30 días si el trabajador tiene hasta 5 años de
                antigüedad. En este caso la indemnización por incumplimiento
                será equivalente a 30 días de su salario.<br />

                c. Será de 60 días si el trabajador tiene más de 5 años de
                antigüedad. En este caso la indemnización por incumplimiento
                será equivalente a 60 días de su salario.
              </p>

              <p>
                Tenga presente que en todos los casos deberá incluirse el
                proporcional de su aguinaldo.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingseven">
            <h4 class="panel-title">
              <a
                class="collapsed"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseseven"
                aria-expanded="false"
                aria-controls="headingseven"
              >
                ¿QUÉ ES LA INTEGRACIÓN DEL MES DE DESPIDO?
              </a>
            </h4>
          </div>
          <div
            id="collapseseven"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingseven"
            aria-expanded="false"
          >
            <div class="panel-body">
              <p>
                Es el despido impuesto por el empleador, sin mediar preaviso,
                que se produce en fecha diferente al último día del mes. Ante
                ello, se deberá abonar al trabajador un monto equivalente a su
                salario, en proporción a los días que restan entre la fecha del
                despido y el último día del mes en que se produjo ese despido.
                Ejemplo: si lo despiden a usted el 3 de octubre restarán 27 días
                para que finalice el mes. En ese caso deberán abonarle el
                salario correspondiente a esos 27 días. Para su calculo
                corresponde también aplicar el proporcional de su aguinaldo.
                Quedan exceptuados de su cobro los trabajadores en periodo de
                prueba.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading8">
            <h4 class="panel-title">
              <a
                class="collapsed"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapse8"
                aria-expanded="false"
                aria-controls="heading8"
              >
                ¿EN QUÉ CONSISTE UN “ACUERDO LABORAL”?
              </a>
            </h4>
          </div>
          <div
            id="collapse8"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading8"
            aria-expanded="false"
          >
            <div class="panel-body">
              <p>
                Es aquel que firman el empleador y el trabajador al llegar a un
                arreglo para desvincularlo de la empresa. Para tener validez se
                debe formalizar a través del Servicio de Conciliación
                Obligatoria (SECLO) dependiente del Ministerio de Trabajo en la
                Ciudad Autónoma de Buenos Aires, o ante las oficinas del
                Ministerio de Trabajo Provinciales, o tribunal laboral
                pertinente según corresponda.
              </p>
              <p>
                Este tipo de acuerdos requieren intervención de un abogado
                propio, brindando una solución rápida y eficaz para el
                trabajador ya que se evita llegar a juicio. Su principal
                beneficio es que una vez firmado, el acuerdo es ejecutable, lo
                que significa que el trabajador puede requerir judicialmente el
                cumplimiento de lo pactado con su empleador en dicho documento.
              </p>
              <p>
                La labor principal de nuestro Estudio es la de negociar los
                mejores términos para su beneficio, logrando un cumplimiento
                rápido mediante la confección de telegramas dirigidos a su
                empleador y practicando la liquidación correspondiente acorde a
                los años trabajados y la condición en la que usted desarrollaba
                su trabajo.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading9">
            <h4 class="panel-title">
              <a
                class="collapsed"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapse9"
                aria-expanded="false"
                aria-controls="heading9"
              >
                ¿QUÉ SE CONSIDERA COMO “ABANDONO DE TRABAJO”?
              </a>
            </h4>
          </div>
          <div
            id="collapse9"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading9"
            aria-expanded="false"
          >
            <div class="panel-body">
              <p>
                Para que exista abandono de trabajo, el trabajador debe haber
                sido previamente intimado por su empleador mediante carta
                documento a su domicilio, a retomar sus tareas por un plazo de
                48hs. Si el trabajador no responde a esa intimación mediante
                telegrama, ni se presenta a trabajar se considerará que hizo
                “abandono de trabajo”.
              </p>
              <p>
                ¿Por qué es importante saberlo? Porque hacer abandono de trabajo
                implica la pérdida de su derecho a ser indemnizado al igual que
                en el caso de renunciar. En muchas ocasiónes el empleador
                aprovecha esta situación para desvincular al trabajador e invoca
                la figura de “abandono de trabajo” para no abonar la
                indemnización correspondiente.
              </p>
              <p>
                Por esa razón es vital que usted se presente a trabajar y que en
                caso de recibir una carta documento en su domicilio intimandolo
                a retornar a su trabajo contacte a nuestro Estudio para que
                nuestros abogados preparen su respuesta formal evitandole a
                usted la pérdida de su indemnización.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading10">
            <h4 class="panel-title">
              <a
                class="collapsed"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapse10"
                aria-expanded="false"
                aria-controls="heading10"
              >
                ¿QUÉ ES EL DESPIDO INDIRECTO?
              </a>
            </h4>
          </div>
          <div
            id="collapse10"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading10"
            aria-expanded="false"
          >
            <div class="panel-body">
              <p>
                Cuando el empleador incumple con sus obligaciones coloca al
                trabajador en una situación tal que puede configurar una
                “injuria”. Es decir que si la falta del empleador es
                suficientemente grave (ejemplo: falta de pago del salario,
                trabajador empleado “en negro”, abuso del ius variandi, etc) el
                trabajador mediante la debida intimación por telegrama a su
                patron podría considerarse “despedido sin causa”. Como vimos
                anteriormente, esto es muy importante ya que muchos trabajadores
                ante la falta de pago de su salario, o conductas abusivas de
                parte de su patrón presentan la renuncia y con ello resignan la
                parte más importante de su indemnización que es la
                “indemnización por antigüedad”. En el caso del despido
                indirecto, si el trabajador adopta los pasos que corresponden
                puede considerarse “despedido” sin necesidad de perder el
                derecho a cobrar la “indemnización por antigüedad”. De allí la
                relevancia de asesorarse con nosotros.
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading11">
            <h4 class="panel-title">
              <a
                class="collapsed"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapse11"
                aria-expanded="false"
                aria-controls="heading11"
              >
                ¿ TENGO DERECHO A COBRAR POR LAS “HORAS EXTRA” DE TRABAJO?
              </a>
            </h4>
          </div>
          <div
            id="collapse11"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading11"
            aria-expanded="false"
          >
            <div class="panel-body">
              <p>
                Por supuesto que sí. La jornada laboral de trabajo diurno
                salubre no puede durar más de 8 horas diarias o 48 horas
                semanales. La jornada nocturna tendrá un máximo de 7 horas y si
                su trabajo es “insalubre” su jornada tendrá un máximo de 6
                horas. El tope de 8 horas diarias podrá extenderse máximo 1 hora
                en la medida en que no se supere el máximo semanal de 48 horas.
                Si se exceden las 9 horas diarias o las 48 horas semanales el
                empleador deberá abonar esas horas como “extra”. Estas “horas
                extra” deben estar autorizadas por su empleador y no se pueden
                compensar con francos.
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading12">
            <h4 class="panel-title">
              <a
                class="collapsed"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapse12"
                aria-expanded="false"
                aria-controls="heading12"
              >
                ¿CÓMO SE CALCULAN LAS “HORAS EXTRA”?
              </a>
            </h4>
          </div>
          <div
            id="collapse12"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading12"
            aria-expanded="false"
          >
            <div class="panel-body">
              <p>
                Deberá agregarse a cada hora extra un recargo del 50% si la
                misma se cumplió de lunes a sábado hasta las 13 hs. Si la misma
                se cumplió el día sábado pasadas las 13hs, un domingo o un
                feriado, deberá abonarse un recargo del 100%.
              </p>
              <p>
                Vale aclarar que existe un límite máximo de horas extra que
                puede realizar el trabajador el cual asciende a 3 horas diarias,
                30 horas mensuales y 200 anuales. Esto obedece al derecho a
                descansar que tiene todo trabajador.
              </p>
              <p>
                Para acreditar las horas extra el trabajador podrá valerse de
                testigos, planillas de ingreso y egreso, grabaciones, etc.)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section">
  <div class="container clearfix">@Html.Partial("CalculatorsLinks")</div>
</div>
