@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting

@inject IWebHostEnvironment Environment

@section Styles {
  @if (Environment.IsDevelopment())
  {
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/font-icons.css">
    <link rel="stylesheet" href="~/abogacia.css">
  }
  else
  {
    <link rel="stylesheet" href="~/dist/faqTrafficAccident.css">
  }
}

@section PreloadLinks {

  @if (!Environment.IsDevelopment())
  {
    <link rel="preload" href="~/dist/faqTrafficAccident.css" as="style">
  }
}



<title class="logo">
  Accidentes de tránsito.
  Preguntas frecuentes.

</title>
<section id="page-title"
  class="faqHeader trafficAccidentFaqHeader  min-vh-60   page-title-parallax page-title-dark include-header">
  <img src="/images/faq/faq-traffic-accident.webp" alt="Preguntas frecuentes sobre accidentes de tránsito" width="800"
    height="400" fetchpriority="high" decoding="async" loading="eager" class="header-image">
  <div class="container clearfix">
    <div>
      <h3 class="articleTitle">Accidentes de tránsito</h3>
    </div>

    <h1 class="articleTitle subTitle">Preguntas Frecuentes</h1>
  </div>

</section>

</section>
<section id="faq" class="container container-block mt-5">
  <div class="col-xs-12">


    <div class="faqs" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="toggle faq">
        <div class="toggle-header">
          <div class="toggle-title">
            ¿Cómo actuar ante un accidente de Tránsito?
          </div>
        </div>
        <div class="toggle-content">
          <p>
            <span style="font-weight: 400">Si Ud. es v&iacute;ctima de un accidente de tr&aacute;nsito
              sea como peat&oacute;n, conductor o persona transportada
              (colectivo, tren, subte, taxi, etc.) &nbsp;lo primero que debe
              hacer, es tomar todos los </span><strong>datos del veh&iacute;culo que caus&oacute; el accidente (
              principalmente patente y seguro )</strong><span style="font-weight: 400">. Destacamos que siempre es muy
              &uacute;til tomar los datos
              de alg&uacute;n </span><strong>testigo</strong><span style="font-weight: 400">
              que respalde su versi&oacute;n de los hechos .
            </span>
          </p>
          <p>
            <span style="font-weight: 400">El segundo paso, es </span><strong>solicitar asistencia m&eacute;dica
              inmediata</strong><span style="font-weight: 400">
              comunic&aacute;ndose al SAME (107) y/o llamar a la
              Polic&iacute;a (911).
            </span>
          </p>
          <p>
            <span style="font-weight: 400">En la guardia del Centro M&eacute;dico donde sea asistido,
              debe solicitar las </span><strong>constancias</strong><span style="font-weight: 400">
              de su asistencia y tratamientos recibidos. Recuerde que las
              constancias m&eacute;dicas son fundamentales para maximizar su
              indemnizaci&oacute;n.</span>
          </p>
          <p>
            <span style="font-weight: 400">1) </span><span style="text-decoration: underline"><strong>Si la
                polic&iacute;a toma intervenci&oacute;n</strong></span><span style="font-weight: 400">
              en el lugar del accidente, es conveniente instar la
              acci&oacute;n penal por lesiones.</span>
          </p>
          <p>
            <span style="font-weight: 400">2) </span><span style="text-decoration: underline"><strong>Si la
                polic&iacute;a no toma intervenci&oacute;n</strong></span><span style="font-weight: 400">
              en el lugar del accidente, contáctenos urgente para recibir el
              mejor asesoramiento respecto de qu&eacute; pasos debe seguir
              previo a realizar la denuncia en sede policial. En estos casos
              es fundamental contar con un abogado de confianza que le
              brinde la seguridad y el conocimiento necesario.</span>
          </p>
          <p>
            <span style="font-weight: 400">
              La declaraci&oacute;n que haga de los hechos es vital para
              definir la responsabilidad del choque.
            </span>
          </p>
          <p>
            <span style="font-weight: 400">3) Si va a hacer la </span><span
              style="text-decoration: underline"><strong>denuncia administrativa directo en su
                seguro</strong></span><span style="font-weight: 400">
              le aconsejamos nuevamente que se asesore con su abogado de
              confianza. Recuerde que siempre la forma en que declare lo
              sucedido en su seguro es decisiva al momento de definir la
              responsabilidad del choque.</span>
          </p>
          <p>
            <span style="font-weight: 400">Como &uacute;ltima recomendaci&oacute;n, le recordamos tomar
              fotos de los da&ntilde;os del veh&iacute;culo que produjo el
              accidente y fotos de su propio veh&iacute;culo, como asi
              tambi&eacute;n del lugar del hecho.</span>
          </p>
          <p>
            <strong><strong>&nbsp;</strong></strong>
          </p>
          <p>
            <span style="text-decoration: underline"><strong>No firme acuerdos que representantes de algunas
                aseguradoras har&aacute;n parecer justos</strong></span><strong>, ya que ese es su trabajo y la
              realidad es que la tarea
              principal de estas personas, es intentar &ldquo;cerrar el
              siniestro&rdquo; por la menor cantidad de dinero
              posible.</strong>
          </p>
          <p>
            <strong><strong>Es muy importante que usted y todos los acompa&ntilde;antes
                que viajaban en el veh&iacute;culo, busquen atenci&oacute;n
                m&eacute;dica inmediatamente despu&eacute;s del accidente, </strong><span
                style="text-decoration: underline"><strong>aunque no sienta que fue herido.</strong>
                <strong>Algunas lesiones no se hacen visibles hasta d&iacute;as o
                  semanas despu&eacute;s del accidente. Mientras m&aacute;s
                  tiempo transcurra entre la fecha del accidente y la fecha
                  de su primera visita al m&eacute;dico, m&aacute;s
                  f&aacute;cil le resultar&aacute; a la
                  compa&ntilde;&iacute;a de seguros, reducir su reclamo por
                  lesiones.</strong></span></strong>
          </p>
        </div>
      </div>

      <div class="toggle faq">
        <div class="toggle-header">
          <div class="toggle-title">
            ¿Quiénes tienen derecho a reclamar por un accidente?
          </div>
        </div>
        <div class="toggle-content">
          <p>
            <span style="font-weight: 400">Tendr&aacute; derecho a reclamar el accidentado por lesiones
              f&iacute;sicas producidas por el accidente.</span>
          </p>
          <p>
            <span style="font-weight: 400">Tambi&eacute;n tendr&aacute; derecho a reclamar quien hubiera
              incurrido en gastos m&eacute;dicos en nombre del asegurado
              (Ej. Medicamentos, honorarios m&eacute;dicos, pr&oacute;tesis,
              tratamientos, etc.).</span>
          </p>
          <p>
            <span style="font-weight: 400">En caso de fallecimiento del accidentado directo
              tendr&aacute;n derecho a reclamar sus herederos legales
              (Hijos, esposos, padres, nietos, abuelos).</span>
          </p>
          <p>
            <span style="font-weight: 400">Con ciertas limitaciones en el reclamo ante fallecimiento
              tambi&eacute;n tendr&aacute;n derecho a reclamar los
              concubinos.</span>
          </p>
          <p>
            <span style="font-weight: 400">Tendr&aacute;n derecho a reclamo ante fallecimiento del
              accidentado quienes recibieran en vida asistencia
              econ&oacute;mica y material por parte del mismo (Hermanos,
              hijos de crianza, etc.).</span>
          </p>
          <p>
            <span style="font-weight: 400">Tendr&aacute;n asimismo derecho a reclamo quienes hayan
              pagado gastos de sepelio y/o de &uacute;ltima
              enfermedad.</span>
          </p>
          <p>
            <span style="font-weight: 400">En cuanto a da&ntilde;os al veh&iacute;culo
              (autom&oacute;vil, cami&oacute;n, avi&oacute;n, moto,
              bicicleta, etc.) tendr&aacute; derecho a reclamar el titular
              registral y asimismo quien tenga uso, usufructo o tenencia por
              cualquier t&iacute;tulo del veh&iacute;culo.</span>
          </p>
          <p>
            <span style="font-weight: 400">El plazo legal para iniciar el reclamo es de 2 a&ntilde;os
              desde la fecha del accidente o desde que el da&ntilde;o se
              haya evidenciado.</span>
          </p>
          <p>
            <strong><span style="font-weight: 400">El plazo legal para reclamar en caso de tratarse de
                empresas de colectivos o ferrocarriles es de 1
                a&ntilde;o.</span></strong>
          </p>
        </div>
      </div>

      <div class="toggle faq">
        <div class="toggle-header">
          <div class="toggle-title">
            ¿Qué se puede reclamar por un accidente?
          </div>
        </div>
        <div class="toggle-content">
          <p>
            <span style="font-weight: 400">La persona que haya sufrido lesiones como consecuencia de un
              accidente de tr&aacute;nsito tiene derecho a reclamar:</span>
          </p>
          <p>&nbsp;</p>
          <ul>
            <li>
              <strong><strong>El da&ntilde;o f&iacute;sico.</strong></strong>
            </li>
          </ul>
          <ul>
            <li><strong>El da&ntilde;o psicol&oacute;gico.</strong></li>
          </ul>
          <ul>
            <li><strong>El da&ntilde;o moral.</strong></li>
          </ul>
          <ul>
            <li><strong>El da&ntilde;o est&eacute;tico.</strong></li>
          </ul>
          <ul>
            <li><strong>El tratamiento psicol&oacute;gico.</strong></li>
          </ul>
          <ul>
            <li><strong>El tratamiento kinesiol&oacute;gico.</strong></li>
          </ul>
          <ul>
            <li>
              <strong>El reintegro de los gastos por honorarios
                m&eacute;dicos.</strong>
            </li>
          </ul>
          <ul>
            <li>
              <strong>El reintegro de los gastos por internaci&oacute;n.</strong>
            </li>
          </ul>
          <ul>
            <li>
              <strong>El reintegro de los gastos en medicamentos.</strong>
            </li>
          </ul>
          <ul>
            <li>
              <strong>El reintegro de los gastos por los traslados.</strong>
            </li>
          </ul>
          <ul>
            <li><strong>El lucro cesante.</strong></li>
          </ul>
          <ul>
            <li><strong>La p&eacute;rdida de chance.</strong></li>
          </ul>
          <ul>
            <li>
              <strong>Seg&uacute;n el caso, todas las prestaciones, en dinero y/o
                en especie, previstas en la Ley de Riesgos del
                Trabajo</strong>
            </li>
          </ul>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400">Los familiares/herederos legales de una persona fallecida en
              un accidente de tr&aacute;nsito tienen derecho a
              reclamar:</span>
          </p>
          <p>&nbsp;</p>
          <ul>
            <li>
              <strong><strong>El da&ntilde;o moral.</strong></strong>
            </li>
          </ul>
          <ul>
            <li><strong>El valor vida.</strong></li>
          </ul>
          <ul>
            <li><strong>La p&eacute;rdida de chance.</strong></li>
          </ul>
          <ul>
            <li><strong>El da&ntilde;o psicol&oacute;gico.</strong></li>
          </ul>
          <ul>
            <li><strong>El tratamiento psicol&oacute;gico.</strong></li>
          </ul>
          <ul>
            <li>
              <strong>El reintegro de los gastos de sepelio.</strong>
            </li>
          </ul>
          <ul>
            <li>
              <strong>El reintegro de los gastos de &uacute;ltima
                enfermedad.</strong>
            </li>
          </ul>
          <ul>
            <li>
              <strong>Todas las prestaciones previstas en la Ley de Riesgos del
                Trabajo.</strong>
            </li>
          </ul>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400">El titular registral y/o usuario/tenedor/usufructuario de un
              automotor de un automotor accidentado tiene derecho a
              reclamar:</span>
          </p>
          <p>&nbsp;</p>
          <ul>
            <li>
              <strong><strong>El costo de la reparaci&oacute;n del rodado.</strong></strong>
            </li>
          </ul>
          <ul>
            <li>
              <strong>La privaci&oacute;n de uso del rodado.</strong>
            </li>
          </ul>
          <ul>
            <li>
              <strong>La desvalorizaci&oacute;n del rodado.</strong>
            </li>
          </ul>
          <ul>
            <li>
              <strong>El lucro cesante (si el rodado es explotado
                comercialmente)</strong>
            </li>
          </ul>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
      </div>

      <div class="toggle faq">
        <div class="toggle-header">
          <div class="toggle-title">
            ¿Cuánto se cobra de indemnización por un accidente de tránsito?
          </div>
        </div>
        <div class="toggle-content">
          <p>
            <strong><span style="font-weight: 400">En general el monto de la indemnizaci&oacute;n que pagan
                las compa&ntilde;&iacute;as de seguro por el reclamo de un
                siniestro hecho a trav&eacute;s de un abogado es mayor que
                si se hace de manera particular, esto se debe entre otros
                factores, a la forma en que la ley obliga a operar a las
                compa&ntilde;&iacute;as:</span>
              cuando se inicia un reclamo mediante representaci&oacute;n
              legal<span style="font-weight: 400">, las aseguradoras deben </span>&ldquo;congelar&rdquo;<span
                style="font-weight: 400">
                contablemente el </span>monto m&aacute;ximo estipulado<span style="font-weight: 400">
                para el tipo de reclamo presentado, hasta que el caso llegue
                a su fin, ya sea en instancias extrajudiciales
                (mediaci&oacute;n) o hasta finalizado el juicio. De esta
                manera incrementaran sus esfuerzos para llegar a un acuerdo
                con el demandante.</span></strong>
          </p>
        </div>
      </div>

      <div class="toggle faq">
        <div class="toggle-header">
          <div class="toggle-title">
            ¿Cuánto puede tardar el reclamo?
          </div>
        </div>
        <div class="toggle-content">
          <p>
            <span style="font-weight: 400">Los reclamos extrajudiciales con abogado y los reclamos
              administrativos (directamente por el accidentado en la
              compa&ntilde;&iacute;a) son similares en duraci&oacute;n, por
              lo general van desde los </span><strong>90 a los 180 d&iacute;as.</strong>
          </p>
          <p>
            <strong><span style="font-weight: 400">La via judicial es m&aacute;s prolongada, pudiendo
                extenderse entre 3 a 8 a&ntilde;os, y s&oacute;lo es
                recomendado en casos donde la compa&ntilde;&iacute;a de
                seguros no est&aacute; dispuesta a negociar una
                indemnizaci&oacute;n coherente respecto de los da&ntilde;os
                sufridos.</span></strong>
          </p>
        </div>
      </div>

      <div class="toggle faq">
        <div class="toggle-header">
          <div class="toggle-title">
            ¿Cuándo conviene contratar a un abogado para reclamar por el accidente y cuando conviene hacer el reclamo
            administrativo?
          </div>
        </div>
        <div class="toggle-content">
          <p>
            En general la suma a pagar será mayor iniciando acciones legales
            pero existen casos particulares en donde es conveniente efectuar
            el reclamo administrativo simple y no se justifica realizar un
            reclamo por vías legales. Estos casos son cuando no existen
            lesiones comprobables a raíz del accidente (ej: no se encontraba
            en el vehículo) y por otro lado los daños materiales producidos
            son muy bajos, con lo cual la relación costo/beneficio, no
            justifica el tiempo invertido para actuar por vía judicial.
          </p>
        </div>
      </div>

      <div class="toggle faq">
        <div class="toggle-header">
          <div class="toggle-title">
            ¿Puedo mandar a arreglar el auto antes de hablar con la compañía de seguros?
          </div>
        </div>
        <div class="toggle-content">
          <p>
            <strong><span style="font-weight: 400">Es conveniente </span>no
              reparar el veh&iacute;culo hasta que lo inspeccione la
              compa&ntilde;&iacute;a de seguros<span style="font-weight: 400">
                que deber&aacute; cubrir el siniestro. Si necesita repararlo
                en forma urgente, deber&aacute; previamente sacarle fotos
                color (en al menos una de las fotos debe verse la patente de
                su veh&iacute;culo).</span></strong>
          </p>
        </div>
      </div>

      <div class="toggle faq">
        <div class="toggle-header">
          <div class="toggle-title">
            ¿Debo mantener el seguro vigente para iniciar la demanda por un accidente?
          </div>
        </div>
        <div class="toggle-content">
          <p>
            <strong><span style="font-weight: 400">No es necesario.
              </span></strong>
          </p>
        </div>
      </div>

      <div class="toggle faq">
        <div class="toggle-header">
          <div class="toggle-title">
            ¿Si me lesione en el accidente, que necesito para poder reclamar la indemnización por los daños?
          </div>
        </div>
        <div class="toggle-content">
          <p>
            <span style="font-weight: 400">En los juicios por da&ntilde;os </span><strong>es fundamental poder probar
              lo que se reclama</strong><span style="font-weight: 400">. Es muy importante que </span><strong>guarde
              todo tipo de documentaci&oacute;n</strong><span style="font-weight: 400">, como ser &oacute;rdenes
              m&eacute;dicas, recetas,
              comprobantes de turnos m&eacute;dicos, recibos o facturas por
              gastos hechos en atenci&oacute;n m&eacute;dica o remedios,
              etc.</span>
          </p>
          <p>
            <span style="text-decoration: underline"><strong><strong>Si no tiene comprobantes de gastos, igualmente
                  puede
                  reclamar.</strong></strong></span>
          </p>
        </div>
      </div>

      <div class="toggle faq">
        <div class="toggle-header">
          <div class="toggle-title">
            ¿A que llamamos Indemnización por esguince cervical?
          </div>
        </div>
        <div class="toggle-content">
          <p>
            <span style="font-weight: 400">El latigazo o </span><strong>esguince cervical</strong><span
              style="font-weight: 400"> es </span><strong>una de las lesiones m&aacute;s comunes </strong><span
              style="font-weight: 400">ocurridas como resultado de un accidente de tr&aacute;nsito,
              ya sea ante un impacto frontal, lateral o al ser colisionado
              desde la parte trasera del veh&iacute;culo. Las </span><strong>compa&ntilde;&iacute;as de
              seguro</strong><span style="font-weight: 400"> siempre </span><strong>intentan minimizar estos
              reclamos</strong><span style="font-weight: 400">
              cuando son presentados sin representaci&oacute;n legal, por lo
              cual es necesario que un </span><strong>abogado</strong><span style="font-weight: 400">
              lo asesore en el caso de presentarse este tipo de
              lesiones</span>
          </p>
          <p>
            <span style="font-weight: 400">La </span><strong>lesi&oacute;n</strong><span style="font-weight: 400">
              es producida por un movimiento brusco y repentino de la cabeza
              hacia atr&aacute;s (hiperextensi&oacute;n), hacia delante
              (hiperflexi&oacute;n) o ambas, lesionando m&uacute;sculos,
              ligamentos, articulaciones e incluso, rectificando la lordosis
              cervical.</span>
          </p>
          <p>
            <span style="font-weight: 400">Las </span><strong>indemnizaciónes</strong><span style="font-weight: 400">
              en caso de esguince cervical, se fijan en funci&oacute;n de
              baremos, dependiendo el monto fijado, seg&uacute;n cada
              lesi&oacute;n en particular y sus secuelas. Como ya
              mencionamos, el </span><strong>esguince cervical</strong><span style="font-weight: 400">
              es un da&ntilde;o que suele minimizarse bastante a la hora de
              ser valorado por parte de las aseguradoras, por lo cu&aacute;l
              el resultado obtenido depender&aacute; en gran medida de la
              pericia del m&eacute;dico que lo fuera a representar.</span>
          </p>
          <p>
            <span style="font-weight: 400">La complejidad a la hora de valorar el alcance real de la
            </span><strong>lesi&oacute;n</strong><span style="font-weight: 400">, radica en que las secuelas de esta,
              como dolores, algias y
              limitaci&oacute;n de la movilidad, son dif&iacute;ciles de
              acreditar puesto que no salen reflejados en ninguna prueba
              m&eacute;dica y dependen mucho de la credibilidad del
              paciente.</span>
          </p>
          <p>
            <strong><span style="font-weight: 400">Nuestro equipo de </span><strong>m&eacute;dicos
                legistas</strong><span style="font-weight: 400">
                cuenta con m&aacute;s de diez a&ntilde;os de experiencia
                asesorando a pacientes con distintos tipos de lesiones como
                la aqu&iacute; tratada, lo que le garantiza obtener el mejor
                resultado alcanzable, logrando que las secuelas de la </span><strong>lesi&oacute;n</strong><span
                style="font-weight: 400"> sufrida reciban la </span><span
                style="text-decoration: underline"><strong>m&aacute;xima puntuaci&oacute;n </strong></span><span
                style="font-weight: 400">posible y por lo tanto que usted reciba la
                indemnizaci&oacute;n m&aacute;s justa por su
                siniestro.</span></strong>
          </p>
        </div>
      </div>

    </div>

  </div>
</section>
<div class="section">
  <div class="container clearfix">@Html.Partial("CalculatorsLinks")</div>
</div>

<script type="application/ld+json">
  {
    "@@context": "https://schema.org",
    "@@type": "FAQPage",
    "url": "https://estudiolopezgiacomelli.com.ar/preguntas-frecuentes/accidentes-de-transito",
    "mainEntity": [
      {
        "@@type": "Question",
        "name": "¿Cómo actuar ante un accidente de Tránsito?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Si Ud. es víctima de un accidente de tránsito, sea como peatón, conductor o persona transportada (colectivo, tren, subte, taxi, etc.), lo primero que debe hacer es tomar todos los datos del vehículo que causó el accidente (principalmente patente y seguro). Destacamos que siempre es muy útil tomar los datos de algún testigo que respalde su versión de los hechos. El segundo paso es solicitar asistencia médica inmediata comunicándose al SAME (107) y/o llamar a la Policía (911). En la guardia del Centro Médico donde sea asistido, debe solicitar las constancias de su asistencia y tratamientos recibidos. Recuerde que las constancias médicas son fundamentales para maximizar su indemnización."
        }
      },
      {
        "@@type": "Question",
        "name": "¿Quiénes tienen derecho a reclamar por un accidente?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Tendrá derecho a reclamar el accidentado por lesiones físicas producidas por el accidente. También tendrá derecho a reclamar quien hubiera incurrido en gastos médicos en nombre del asegurado (Ej. Medicamentos, honorarios médicos, prótesis, tratamientos, etc.). En caso de fallecimiento del accidentado directo tendrán derecho a reclamar sus herederos legales (Hijos, esposos, padres, nietos, abuelos). Con ciertas limitaciones en el reclamo ante fallecimiento también tendrán derecho a reclamar los concubinos."
        }
      },
      {
        "@@type": "Question",
        "name": "¿Que se puede reclamar por un accidente?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "La persona que haya sufrido lesiones como consecuencia de un accidente de tránsito tiene derecho a reclamar: El daño físico, el daño psicológico, el daño moral, el daño estético, el tratamiento psicológico, el tratamiento kinesiológico, el reintegro de los gastos por honorarios médicos, el reintegro de los gastos por internación, el reintegro de los gastos en medicamentos, el reintegro de los gastos por los traslados, el lucro cesante, la pérdida de chance."
        }
      },
      {
        "@@type": "Question",
        "name": "¿Cuánto se cobra de indemnización por un accidente de tránsito?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "En general el monto de la indemnización que pagan las compañías de seguro por el reclamo de un siniestro hecho a través de un abogado es mayor que si se hace de manera particular, esto se debe entre otros factores, a la forma en que la ley obliga a operar a las compañías: cuando se inicia un reclamo mediante representación legal, las aseguradoras deben 'congelar' contablemente el monto máximo estipulado para el tipo de reclamo presentado."
        }
      },
      {
        "@@type": "Question",
        "name": "¿Cuánto puede tardar el reclamo?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Los reclamos extrajudiciales con abogado y los reclamos administrativos (directamente por el accidentado en la compañía) son similares en duración, por lo general van desde los 90 a los 180 días. La vía judicial es más prolongada, pudiendo extenderse entre 3 a 8 años."
        }
      },
      {
        "@@type": "Question",
        "name": "¿Cuándo conviene contratar a un abogado para reclamar por el accidente y cuando conviene hacer el reclamo administrativo?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "En general la suma a pagar será mayor iniciando acciones legales pero existen casos particulares en donde es conveniente efectuar el reclamo administrativo simple y no se justifica realizar un reclamo por vías legales."
        }
      },
      {
        "@@type": "Question",
        "name": "¿Puedo mandar a arreglar el auto antes de hablar con la compañía de seguros?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "Es conveniente no reparar el vehículo hasta que lo inspeccione la compañía de seguros que deberá cubrir el siniestro. Si necesita repararlo en forma urgente, deberá previamente sacarle fotos color (en al menos una de las fotos debe verse la patente de su vehículo)."
        }
      },
      {
        "@@type": "Question",
        "name": "¿Debo mantener el seguro vigente para iniciar la demanda por un accidente?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "No es necesario."
        }
      },
      {
        "@@type": "Question",
        "name": "¿Si me lesioné en el accidente, qué necesito para poder reclamar la indemnización por los daños?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "En los juicios por daños es fundamental poder probar lo que se reclama. Es muy importante que guarde todo tipo de documentación, como ser órdenes médicas, recetas, comprobantes de turnos médicos, recibos o facturas por gastos hechos en atención médica o remedios, etc."
        }
      },
      {
        "@@type": "Question",
        "name": "¿A qué llamamos Indemnización por esguince cervical?",
        "acceptedAnswer": {
          "@@type": "Answer",
          "text": "El latigazo o esguince cervical es una de las lesiones más comunes ocurridas como resultado de un accidente de tránsito. Las compañías de seguro siempre intentan minimizar estos reclamos cuando son presentados sin representación legal, por lo cual es necesario que un abogado lo asesore en el caso de presentarse este tipo de lesiones."
        }
      }
    ],
    "image": "https://estudiolopezgiacomelli.com.ar/images/faq/faq-traffic-accident.jpeg",
    "datePublished": "2024-11-05",
    "dateModified": "2024-11-05",
    "author": {
      "@@type": "Organization",
      "name": "Estudio Jurídico López Giacomelli",
      "url": "https://estudiolopezgiacomelli.com.ar"
    },
    "publisher": {
      "@@type": "Organization",
      "name": "Estudio Jurídico López Giacomelli",
      "logo": {
        "@@type": "ImageObject",
        "url": "https://estudiolopezgiacomelli.com.ar/images/logo.png"
      }
    }
  }
  </script>

@section Scripts {
  @if (Environment.IsDevelopment())
  {
    <script src="~/js/functions.js"></script>
    <script src="~/js/googleReviewsPlugin.js"></script>
  }
  else
  {
    <script src="~/dist/faqTrafficAccident.js"></script>
  }
}