@import "@css/style.css";
@import "@css/font-icons.css";
@import "@css/layout.css";
@import "@css/swiper.css";
@import "@css/gallery.css";

@import "@css/calculatorLinks.css";
/* 
@import '@css/abogacia.css'; */

/* @import "@css/reviews.css"; */

/*home page*/
.heading-block:after {
  display: inline;
}

.swiper-slide-bg:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, grey);
  opacity: 0.4;
}

.iconlist li {
  flex-wrap: initial;
}

.iconlist > li i:first-child,
.iconlist > li img:first-child {
  position: relative;
  display: inline-block;
  text-align: center;
  top: 1px;
  width: 14px;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  color: #555;
  /* color: var(--cnvs-iconlist-color); */
}

/* end home page */
