@import "@css/style.css";
@import "@css/font-icons.css";
@import "@css/layout.css";

@import "@css/hero.css";

@import "@css/calculatorLinks.css";

@import "@css/faqs.css";

/* trafficAccidentFaq */

.trafficAccidentFaqHeader {
  padding: 250px !important;
  background: url("/images/faq/faq-traffic-accident.jpeg") center center / cover
    no-repeat;
}

@supports (background-image: url("/images/faq/faq-traffic-accident.avif")) {
  .trafficAccidentFaqHeader {
    background: url("/images/faq/faq-traffic-accident.avif") center center /
      cover no-repeat;
  }
}

@media (max-width: 991.98px) {
  .trafficAccidentFaqHeader {
    padding: 0px !important;
    background-position: -385px 0px !important;
  }
}

/* end trafficAccidentFaq */
