/* layout */
@import "@css/header.css";
@import "@css/footer.css";
@import "@css/reviews.css ";

.contact-us-whatsapp,
.contact-us-whatsapp:hover {
  width: 60px;
  height: 60px;
  z-index: 599;
  position: fixed;
  line-height: 60px;
  text-align: center;
  top: auto;
  right: 18px;
  left: auto;
  bottom: 19px;
  cursor: pointer;
  background-color: #25d366;
  color: #fff;
  font-size: 36px;
  border-radius: 50px;
}

.green {
  color: #1abc9c !important;
}

a {
  font-weight: bolder;
}

:root {
  --cnvs-body-font: "Poppins", sans-serif;
  --cnvs-primary-font: "Poppins", sans-serif;
  --cnvs-secondary-font: "Playfair Display", serif;
}

.stretched #gotoTop {
  bottom: 100px;
}

/* end layout */
