<main id="main">

    <div class="container clearfix mt-5">

        <p>
            Nuestro Estudio Jurídico se dedica a resolver todo tipo de reclamos por accidentes de tránsito y accidentes laborales abarcando cada una de las especialidades relacionadas al tema. En la actualidad contamos con mas de 20 años de experiencia en el área brindando a nuestros clientes un servicio rápido y eficiente tanto en la resolución de casos previo a la etapa judicial como dentro de la misma.
        </p>
        <p>
            A través del despliegue de nuestros conocimientos jurídicos y habilidad de negociación exigiremos el cumplimiento de todos sus derechos consiguiendo asi la mayor indemnización posible ( daños económicos, físicos y morales que usted o la persona que desea ayudar hayan sufrido).
            <ul>

                <li>
                    Todos nuestros profesionales resolverán su consulta sin cargo. Asimismo, iniciamos su reclamo al seguro o la ART sin costo alguno.
                    <b><u>Únicamente cobramos honorarios cuando finaliza el trámite y usted recibe su indemnización. Si usted no cobra, nosotros tampoco.</u></b>
                </li>
                <li>En la actualidad, nos caracterizamos por la eficiencia y velocidad en la resolución de casos judiciales y extrajudiciales debido al <u><b>gran caudal de reclamos con que contamos. Esto nos permite negociar con mayor facilidad ante las compañías de seguros y ARTs.</b></u></li>
                <li>Creemos firmemente en la relación cliente- abogado. Es por ello que siempre mantenemos a nuestros clientes al tanto de las novedades que van surgiendo, informándole en especial cada avance de nuestra gestión.<u><b> Tenga presente que no siempre es necesario ir a juicio para lograr el cobro de lo que le corresponde, es por eso que nuestros servicios se adaptan a las necesidades de nuestros clientes a traves de un contacto permanente.</b></u></li>
                <li>Estamos plenamente agradecidos de la confianza que nos brinda usted a traves de su consulta y por cada cliente satisfecho.</li>
                <li>Vea nuestras <a href="@Url.Action("Index", "Home")#faq" class="smoothanchor">Preguntas frecuentes</a> para más información.</li>

            </ul>
        </p>

    </div>



</main>
