<title class="logo">
Accidentes en transporte público
  
  </title>

<h2>¿Cómo está conformado el sistema de transporte público?</h2>

<p>
  Buenos Aires cuenta con un vasto sistema de transporte, conformado por una red
  de ferrocarriles con 840 km, una red de subterráneos de casi 50 km y un
  sistema de transporte público automotor conformado por buses que circulan en
  más de 300 rutas, con una extensión de 25 mil km y una flota de 15 mil
  unidades. En este marco se estima que el
  <span class="green"
    >60% de los 22 millones de viajes diarios se realiza en transporte
    público.</span
  >
</p>
<p>
  Pese a ello, podemos asegurar que el sistema de transporte ha presentado en el
  último medio siglo una desinversión crónica . El deterioro causado por la
  falta de mantenimiento de la infraestructura existente como también la falta
  de obras nuevas y la deficiente prestación de servicios provocada por la
  omisión de control de los organismos públicos conspiran gravemente contra la
  seguridad de los usuarios generando un
  <span class="green">elevado índice de siniestralidad. </span>
</p>

<p>
  Si usted ha sido
  <span class="green"
    >víctima de un accidente en un medio de transporte público</span
  >, debe
  <span class="green"
    >comunicarse con urgencia al 911 y permanecer en el lugar</span
  >
  hasta recibir la atención apropiada.
</p>

<h2 class="mt-6">Qué hacer en caso de presenciar un accidente?</h2>

<div
  class="trafficAccidentSteps"
  class="row align-items-center gutter-50 col-mb-80 mt-5"
>
  <div class="col-xl-9 col-lg-11">
    <div class="row feature-box-border col-mb-30 align-items-center">
      <div class="col-md-8 feature-box fbox-color">
        <div class="fbox-icon">
          <a><i class="icon-line2-note"></i></a>
        </div>
        <div class="fbox-content">
          <p class="nott text-larger font-weight-normal mb-2 mt-3">
            <span class="green">Proteger a la víctima</span>, a uno mismo y a los demás.
          </p>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col-md-8 feature-box fbox-color">
        <div class="fbox-icon">
          <a><i class="icon-medical-ambulance"></i></a>
        </div>
        <div class="fbox-content">
          <p class="nott text-larger font-weight-normal mb-2 mt-3">
            <span class="green">Avisar</span> rápidamente a los <span class="green">servicios de emergencia.</span>
          </p>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col-md-8 feature-box fbox-color noborder">
        <div class="fbox-icon">
          <a><i class="icon-briefcase-medical"></i></a>
        </div>
        <div class="fbox-content">
          <p class="nott text-larger font-weight-normal mb-2 mt-3">
            <span class="green">Socorrer a las víctimas, acompañarlas</span> hasta que llegue auxilio
            profesional.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="mt-6">¿Cómo prevenir accidentes en el transporte público?</h2>

<ul class="ml-4">
  <li>Subir y descender poniendo atención en la superficie que pisas.</li>
  <li>Esperar que el colectivo esté completamente detenido para descender.</li>
  <li>
    Esperar al tren detrás de la línea amarilla y cruzarla solo cuando debas
    abordarlo.
  </li>
  <li>
    Evita subir o bajar del tren si ya se ha anunciado el cierre de puertas,
    podrías quedar atrapado en ellas o golpearte.
  </li>
</ul>


<h2 class="mt-6">¿Como cobro mi indemnización?</h2>

<p>
  Respecto de la <span class="green">indemnización que le corresponde</span> en
  caso de accidente la misma puede calcularla <a href="@Url.Action("accidentes-de-tránsito", "Calculators")">AQUÍ.</a> Tenga presente que este
  cálculo es orientativo y que estamos a disposición para cualquier consulta.
</p>


<p>
Es de vital importancia que usted se asesore con
  <span class="green">
    profesionales que le brinden la asistencia legal y médica necesaria
  </span>
  para que <span class="green">conozca a fondo sus derechos</span> y los haga valer. Nuestro equipo de
  abogados especializados y profesionales médicos le brindarán respaldo y
  asesoramiento personalizado durante todo el reclamo obteniendo la máxima
  indemnización posible. Consultenos sin compromiso <a href="@Url.Action("index", "Contacto")">AQUÍ</a>
</p>
