<title class="logo">
  Accidentes in itinere ( Camino al trabajo o de regreso a casa)
</title>
<h2>¿QUÉ ES UN ACCIDENTE IN ITINERE?</h2>

<p>
  Los accidentes in itinere (del latin “itinere”: “en curso”) se encuentran
  definidos en el artículo sexto de la Ley de Riesgos del Trabajo (Ley 24.557)
  como: “todo acontecimiento súbito y violento ocurrido por el hecho o en
  ocasión del trabajo, o en el
  <span class="green"
    >trayecto entre el domicilio del trabajador y el lugar de trabajo,</span
  >
  siempre y cuando el damnificado no hubiere interrumpido o alterado dicho
  trayecto por causas ajenas al trabajo”.
</p>
<p>
  <span class="green">Ejemplo 1:</span> El trabajador, luego de salir de su casa
  y llegando al trabajo, sufre un robo con herida de arma blanca, con cortes en
  el brazo.
</p>
<p>
  <span class="green">Ejemplo 2:</span> El trabajador, volviendo a su hogar al
  completar su jornada de trabajo, tropieza en la vereda y cae sufriendo una
  fractura de rodilla.
</p>
<p>
  Como se puede apreciar, se trata de todo
  <span class="green"
    >accidente sufrido por el trabajador en el trayecto entre el hogar y el
    trabajo, ya sea yendo o volviendo del mismo,</span
  >
  siempre y cuando el damnificado no hubiere interrumpido o alterado dicho
  trayecto por causas ajenas al trabajo.
</p>
<p>
  Al igual que los accidentes ocurridos dentro de las instalaciones del
  empleador, los accidentes “in itinere” se encuentran amparados por la Ley de
  Riesgos de Trabajo. Es decir, que su
  <span class="green"
    >ART deberá cubrir las prestaciones médicas y salariales</span
  >
  hasta el alta definitiva y si quedaran secuelas en su salud deberá ser
  indemnizado conforme la normativa vigente.
</p>
<p>
  Las controversias más comunes que se suscitan hoy día se deben a las
  <span class="green">indemnizaciónes insignificantes que ofrecen las ART</span>
  durante el trámite ante la SRT. El objetivo de este procedimiento previo a
  todo reclamo judicial es el de cerrar los reclamos por la mínima indemnización
  posible en perjuicio de los trabajadores. Una clara muestra de ello es que el
  <span class="green"
    >financiamiento de la Superintendencia proviene de las propias ART.</span
  >
  De este modo, la objetividad e independencia de los funcionarios de la
  Superintendencia se ve severamente comprometida, ya que son las ART las que
  aportan los fondos para pagar los sueldos de estos funcionarios.
</p>
@Html.Partial("ComoCobroMiIndemnizacionLaboral")
@Html.Partial("WorkAccidentFeatures") @Html.Partial("WorkAccidentRights")
