<title class="logo">Enfermedades profesionales</title>

<h2>¿QUÉ SON LAS ENFERMEDADES PROFESIONALES?</h2>
<p>
  Las enfermedades profesionales son aquellas
  <span class="green">producidas por causa del trabajo,</span>
  a aquellos trabajadores que prestan tareas expuestos a factores de riesgo,
  como ser: movimientos forzosos y repetitivos, ruidos en el ambiente de
  trabajo, manipulación de sustancias químicas e inhalación de gases, entre
  otros.
</p>
<p>
  <span class="green">Ejemplo 1:</span> El trabajador, repositor de
  supermercado, quien obligado a trasladar objetos pesados, padece lumbalgia.
</p>
<p>
  <span class="green">Ejemplo 2:</span> El trabajador, mecánico industrial,
  expuesto a altos niveles sonoros en las instalaciones de su empleador, padece
  hipoacusia bilateral.
</p>
<p>
  <span class="green">Ejemplo 3:</span> El trabajador, operario de máquina,
  expuesto a movimientos repetitivos del hombro derecho, padece tendinitis del
  hombro.
</p>
<p>
  <span class="green">Ejemplo 4:</span> El trabajador, enfermero de hospital, en
  contacto directo con pacientes contagiados de Covid, contrae también el virus.
</p>

<p>
  Al igual que los accidentes laborales las enfermedades profesionales se
  encuentran amparadas por la Ley de Riesgos de Trabajo. Es decir, que su
  <span class="green"
    >ART deberá cubrir las prestaciones médicas y salariales</span
  >
  hasta el alta definitiva y si quedaran secuelas en su salud deberá ser
  indemnizado conforme la normativa vigente. Cierto es también que
  <span class="green"
    >con frecuencia las ART desconocen el carácter laboral de su enfermedad bajo
    el pretexto de que se trata de una enfermedad inculpable o
    preexistente</span
  >
  a los fines de eludir sus responsabilidades. Es este uno de los aspectos más
  relevantes a revisar por nuestro equipo médico al momento de avanzar con su
  reclamo.
</p>

<p>
  Asimismo, las controversias más comunes que se suscitan hoy día se deben a las
  <span class="green">indemnizaciónes insignificantes que ofrecen las ART</span>
  durante el trámite ante la SRT. El objetivo de este procedimiento previo a
  todo reclamo judicial es el de cerrar los reclamos por la mínima indemnización
  posible en perjuicio de los trabajadores. Una clara muestra de ello es que el
  <span class="green"
    >financiamiento de la Superintendencia proviene de las propias ART.</span
  >
  De este modo, la objetividad e independencia de los funcionarios de la
  Superintendencia se ve severamente comprometida, ya que son las ART las que
  aportan los fondos para pagar los sueldos de estos funcionarios.
</p>

@Html.Partial("ComoCobroMiIndemnizacionLaboral")
@Html.Partial("WorkAccidentFeatures") @Html.Partial("WorkAccidentRights")
