/* hero header */

.heroHeader {
  position: relative;
  overflow: hidden;
  padding: 250px;

  @media (max-width: 991.98px) {
    padding: 0px;
    background-position: 0px 0px !important;
  }
}

.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 575.98px) {
  .container,
  #header.full-header .container,
  .container-fullwidth {
    width: 100% !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

#hero-title {
  h1,
  h2 {
    line-height: 55px;
    display: inline-block !important;
    background: rgba(26, 188, 156, 0.65) !important;
    padding: 12px !important;
    text-align: left !important;
    color: rgba(255, 255, 255, 0.9) !important;
  }

  h1 {
    font-weight: 700;
    text-transform: uppercase;
  }

  h2 {
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  @media (max-width: 991.98px) {
    h1,
    h2 {
      font-size: 30px !important;
      line-height: 32px;
    }
  }

  @media (max-width: 991.98px) {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.articleTitle {
  line-height: 55px !important;
  display: inline-block !important;
  background: rgba(26, 188, 156, 0.65) !important;
  padding: 12px !important;
  text-align: left !important;
  font-weight: 600;

  @media (max-width: 991.98px) {
    font-size: 30px !important;
    line-height: 32px !important;
    float: left;
  }
}

.articleSubTitle {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.9) !important;
  text-transform: uppercase !important;
}

.articleCategoryTitle {
  line-height: 55px !important;
  background: rgba(26, 188, 156, 0.65) !important;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left !important;
  margin-bottom: 5px;
  display: inline-block !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

  @media (max-width: 991.98px) {
    float: left !important;
  }
}

/* end hero header */
