/* layout */
@import "./header";
@import "./footer";
@import "./reviews";
@import "./whatsapp-widget";

.green {
  color: #1abc9c !important;
}

a {
  font-weight: bolder;
}

:root {
  --cnvs-body-font: "Poppins", sans-serif;
  --cnvs-primary-font: "Poppins", sans-serif;
  --cnvs-secondary-font: "Playfair Display", serif;
}

.stretched {
  #gotoTop {
    bottom: 100px;
  }
}

/* end layout */
